{% extends "director/index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}

<script type="text/javascript">


    //	heads=
    //	row =
    //
    //
    //	can_add=
    //	can_log=
    //	can_del=

    tabs={{ tabs | jsonify | default:'[]' }}
    crt_tab = '{{ crt_tab | default:'null' }}'
    crt_tab = crt_tab || tabs[0].name


    shengqin_heads = [
        {name:'id_paper','label':'身份证复印件'},
        {name:'hukou_paper',label:'户口簿复印件'},
        {name:'jianfang_apply',label:'建房申请'},
        {name:'cunwei_paper',label:'村委承诺书'},
        {name:'shigong_paper',label:'施工单位承诺书'},
        {name:'jianfang_paper',label:'建房施工图'}
    ]
    xieyi_heads =[
        {name:'nongtang_paper','label':'弄堂协议'},
        {name:'xichan_paper',label:'析产协议'},
    ]

    ex.each(heads,function(head){
        if(head.name=='shenqing'){
            head.type='field-uploader'
            head.upload_heads = shengqin_heads
        }else if(head.name=='xieyi'){
            head.type='field-uploader'
            head.upload_heads = xieyi_heads
        }
    })
    form_logic={
        el:'#there',
//			data:{
//				kw:{
//					heads:heads,
//			        row:row,
//			   		errors:{},
//				},
//				menu:menu,
//				can_add:can_add,
//				can_del:can_del,
//				can_log:can_log,
//			},
        data:{
            tabs:tabs,
            crt_tab:crt_tab,
        },
        mixins:[field_fun],
        methods:{
            item_link:function(name){
                if(name!=this.crt_tab){
                    return ex.appendSearch({_tab:name})
                }else{
                    return 'javascript:;'
                }
            },
            after_sub:function(new_row){
                location=ex.appendSearch({pk:new_row.pk})
            },

        }

    }

    $(function () {
        new Vue(form_logic)
    })
</script>

{% block extra_head %}

{% endblock %}

<div id='there'>

    <div v-if="can_log" style='float: right;padding: 5px 20px;'>
        <a :href="log_url()">日志</a>
    </div>
    <!--<path-nav :menu='menu'>-->
        <!--<li><span v-text="page_label"></span></li>-->
    <!--</path-nav>-->
    <ol class="breadcrumb">
        <b v-text="page_label"></b>
    </ol>


    <div class="flex">
        <ul class="nav nav-tabs tabs flex-grow">
            <li v-for="tab in tabs" :class="{'active':crt_tab==tab.name}"><a :href="item_link(tab.name)" v-text="tab.label" ></a></li>

        </ul>

        <com-form-btn :form_bus="this"></com-form-btn>

    </div>

    <!--<com-form-btn :submit="submit" :del_row="del_row" :cancel="cancel"></com-form-btn>-->



    <div class='field-panel'>
        <field  v-for='name in ["name","date","cunwei","phone","addr","state"]' key="name" :name='name' :kw='kw'></field>
    </div>

    <!--<div class="field-panel">-->
        <!--<field  key="yinji" name='yinji' :kw='kw'></field>-->
    <!--</div>-->

    <div class="field-panel">
        <field  key="shenqing" name='shenqing' :kw='kw'></field>
    </div>

    <div class="field-panel">
        <field  key="xieyi" name='xieyi' :kw='kw'></field>
    </div>
</div>

<script>
    Vue.component('field-uploader',{
        template:'#field-uploader',
        props:['name','row','kw'],
        data:function(){
            if(!this.row[this.name]){
                Vue.set(this.row,this.name,{})
            }
            return {
                urls:this.row[this.name]
            }
        },
        watch:{

        }

    })
</script>
<template id="field-uploader">
    <div>
        <div v-for="head in kw.upload_heads">
            <com-uploader v-model="urls[head.name]" :label="head.label"></com-uploader>
        </div>

    </div>
</template>

<script>
    Vue.component('com-uploader',{
        template:'#com-uploader',
        props:['label','value'],
        data:function(){
            return {
                inn_value:this.value,
                config:{
                    accept:'application/pdf,image/*'
                }
            }
        },
        watch:{
            value:function(val){
                if(this.inn_value != val){
                    this.inn_value = val
                }
            },
            inn_value:function(val){
                this.$emit('input',val)
            }
        }

    })
</script>
<template id="com-uploader">
    <div style="margin: 2em;padding-top: 1em;border-top: 1px solid #bababa;">
        <div style="margin-bottom:1em; "><span v-text="label"></span><span>(PDF/图片)</span></div>
        <com-file-uploader v-model="inn_value" :config="config"></com-file-uploader>
    </div>
</template>


<style>
    #id_addr{
        width: 40em;
        max-width: 40em;
    }
</style>
{% endblock %}